# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/

# Pytest
.pytest_cache/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
.terraform.lock.hcl

# Environment files
.env
.env.*

# OS/editor files
.DS_Store
.vscode/
.idea/

lambda.zip

terraform-bootstrap/

# Lambda/API testing artifacts
event.json
response.json
event-*.json
response-*.json
